.Catch{
    display:flex; 
    flex-direction:row;
    position:fixed;
    width:100%;
}

.leftSection{
    padding: 8%;
    padding-left: 10%;
    width: 50%;
}

.rightSection{
    width: 50%;
}

.Title1 {
    font-size: 4vw;
    font-weight: 700;
}

.Title2{
    font-size: 4vw;
    font-weight: 700;
}

.SportsWord{
    border-bottom: solid 5px gray;
    display: inline;
    padding-bottom: 5%;
}

.Description{
    font-size: 2vw;
    font-weight: 300;
    padding-top: 5%;
}

.ballerimage{
    position: center;
    width:80%;
}

.spacer1{
    
}
