.Description2 {
    display:flex; 
    flex-direction:row;
    position:flex;
    width:100%;
    background-color: #D6D8D9;
}

.Artificial_Intelligence_in_Sports{
    text-align: center;
    width: 100%;
    padding-top: 5%;
    font-size: 4vw;
    font-weight: 700;
}

.ellige{
    border-bottom: solid 5px gray;
    display: inline;
    padding-bottom: 3%;
}

.The_world_of{
    padding-top: 5%;
    font-size: 2vw;
    font-weight: 300;
    width:55%;
    padding-left:22.5%;
}
.CircleImages{
    padding-top:2%;
}
.CircleImages img{
    width:15vw;
    height:15vw;
    border-radius: 50%;
}

.spacer2{
    display: inline;
    padding-left:10%;
}