.main1 {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.Desc{
    padding-top:4%;
}

.Catch{
    padding-top:2%;
    background-color: #F7EECD;
    display:flex; 
    flex-direction:row;
    position:flex;
    width:100%;
}
.leftSection{
    padding-top: 8%;
    padding-left: 10%;
    width: 50vw;
}

.Title1 {
    color:#2A2829;
    font-size: 4vw;
    font-weight: 700;
}

.Title2{
    color:#2A2829;
    font-size: 4vw;
    font-weight: 700;
}

.SportsWord{
    border-bottom: solid 5px gray;
    display: inline;
    padding-bottom: 5%;
}

.Description{
    color:#2A2829;
    font-size: 2.5vw;
    font-weight: 300;
    padding-top: 5%;
}

.ballerimage{
    position: center;
    width:35vw;
    flex:1;
}

.Description2 {
    display:flex; 
    flex-direction:row;
    position:flex;
    width:100%;
    background-color: #2A2829;
    
}

.Artificial_Intelligence_in_Sports{
    color:#F7EECD;
    text-align: center;
    width: 100%;
    padding-top: 5%;
    font-size: 4vw;
    font-weight: 700;
}

.ellige{
    border-bottom: solid 5px gray;
    display: inline;
    padding-bottom: 3%;
}

.The_world_of{
    padding-top: 5%;
    font-size: 2vw;
    font-weight: 300;
    width:55%;
    padding-left:22.5%;
}
.CircleImages{
    padding-top:2%;
}
.CircleImages img{
    box-shadow: 5px 5px 20px 20px rgba(0,0,0,0.5);
    width:15vw;
    height:15vw;
    border-radius: 50%;
}

.spacer2{
    display: inline;
    padding-left:10%;
}

.EndSection{
    display:flex; 
    flex-direction:row;
    position:flex;
    width:100%;
    background: white;
    padding-bottom: 10%;
}

.leftSection2{
    padding-right:5%;
    padding-top: 8%;
    padding-left:8%;
    width:50%;
    height:100%;
}

.See_it_in_action{
    color: #2A2829;
    font-size: 3vw;
    font-weight: 300;
}

.How_it_Works{
    color: #2A2829;
    font-size: 4vw;
    font-weight: 700;
}

.How_it{
    border-bottom: solid 5px gray;
    display: inline;
    padding-bottom: 5%;

}

.Description3{
    color: #2A2829;
    padding-top:4%;
    font-size: 2vw;
    font-weight: 300;
}
.RightSection2{
    padding-right:5%;
}
.AI-Photo{
    box-shadow: 40px 40px 10px 10px rgba(0,0,0,0.5);
    margin-top: 26%;
    width:45vw;
    flex:1;
}

.root-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-controller {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 24em;
    min-width: 21em;
    height: 35px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
	margin-bottom: 30px;
	align-items: center;
	transition: visibility 0.5s ease-out;
}

 .controller {
	 flex: 1;
	 text-align: center;
	 height: 100%;
	 line-height: 2;
	 cursor: pointer;
}

.selected-controller {
    transition: border 0.5s ease-out;
    border-bottom:  2px solid blue_theme;
}

.box-container {
    display: flex;
    flex-direction: column;
    max-width: 24em;
    min-width: 21em;
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    border-radius: 6px;
    padding: 24px;
}

.inner-container {
    transition: visibility 0.2s ease-out;
    background-color: rgba(192, 38, 38, 0);
}

.inner-container.show {
    visibility: visible;
}

.header {
    text-align: center;
    padding-left: 120px;
    padding-right: 120px;
    margin-top: 75px;
    margin-bottom: 10px;
    font-family: Ozxgen, sans-serif;
    font-size: 22px;
    border-bottom: 2ox solid blue_theme;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(15, 15, 0, 0.03);
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 25px;
}

.login-label {
    font-family: Oxygen, sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-left: 5px;
}

.login-input {
    height: 2em;
    border-radius: 5px;
    margin-top: 10px;
}

.login-btn {
    padding: 2px 30px;
    border: 0;
    font-size: 18px;
    border-radius: 3px;
    font-family: Oxygen, sans-serif;
    background-color: rgba(0, 0, 0, 0.03);
    margin-top: 20px;
    border: 2px solid #417cef;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
}

.facebook-google-btn {
    width:3vw;
    height:3vw;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.03);
    margin-top: 20px;
    border: 2px solid #417cef;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    range: url('./components/images/facebook.png');
}

.facebook-google-btn:hover, .facebook-google-btn:focus {
    background-color: #030303;
    color: white;
}

.login-btn:hover, .login-btn:focus {
    background-color: #030303;
    color: white;
}

.Catch3{
    padding-top:2%;
    background-color: #F7EECD;
    display:flex; 
    flex-direction:row;
    position:flex;
    width:100%;
}

.leftSection3{
    padding-right:5%;
    padding-top: 8%;
    padding-left:8%;
    width:50%;
    height:100%;
    float: left;
    margin: 0 1%;
    position: top;
}
.RightSection3{
    padding-right:5%;
    margin: 0 1%;
}
.root-container3{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img1 {
    border-radius: 4px;
}
.CircleImages2{
    display: flex;
}
.CircleImages2 img{
    width:4vw;
    height:4vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}