.main1 {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.loginpage {
    max-height: 200%;
    max-width: 500vh;
    margin: auto;
}

.Catch{
    padding-top:2%;
    background-color: #F7EECD;
    display:flex; 
    flex-direction:row;
    position:flex;
    width:100%;
}
.leftSection{
    padding-top: 8%;
    padding-left: 10%;
    width: 50vw;
}

.Title1 {
    color:#2A2829;
    font-size: 4vw;
    font-weight: 700;
}

.SportsWord{
    border-bottom: solid 5px gray;
    display: inline;
    padding-bottom: 5%;
}

.Description{
    color:#2A2829;
    font-size: 2.5vw;
    font-weight: 300;
    padding-top: 5%;
}

.ballerimage{
    position: center;
    width:35vw;
    flex:1;
}

.Description2 {
    display:flex; 
    flex-direction:row;
    position:flex;
    width:100%;
    background-color: #2A2829;
    
}

.Artificial_Intelligence_in_Sports{
    color:#F7EECD;
    text-align: center;
    width: 100%;
    padding-top: 5%;
    font-size: 4vw;
    font-weight: 700;
}

.ellige{
    border-bottom: solid 5px gray;
    display: inline;
    padding-bottom: 3%;
}

.The_world_of{
    padding-top: 5%;
    font-size: 2vw;
    font-weight: 300;
    width:55%;
    padding-left:22.5%;
}
.CircleImages{
    padding-top:2%;
}
.CircleImages img{
    box-shadow: 5px 5px 20px 20px rgba(0,0,0,0.5);
    width:15vw;
    height:15vw;
    border-radius: 50%;
}

.spacer2{
    display: inline;
    padding-left:10%;
}

.EndSection{
    display:flex; 
    flex-direction:row;
    position:flex;
    width:100%;
    background: white;
    padding-bottom: 10%;
}

.leftSection2{
    padding-right:5%;
    padding-top: 8%;
    padding-left:8%;
    width:50%;
    height:100%;
}

.See_it_in_action{
    color: #2A2829;
    font-size: 3vw;
    font-weight: 300;
}

.How_it_Works{
    color: #2A2829;
    font-size: 4vw;
    font-weight: 700;
}

.How_it{
    border-bottom: solid 5px gray;
    display: inline;
    padding-bottom: 5%;

}

.Description3{
    color: #2A2829;
    padding-top:4%;
    font-size: 2vw;
    font-weight: 300;
}
.RightSection2{
    padding-right:5%;
}
.AI-Photo{
    box-shadow: 40px 40px 10px 10px rgba(0,0,0,0.5);
    margin-top: 26%;
    width:45vw;
    flex:1;
}

.header {
    text-align: center;
    padding-left: 120px;
    padding-right: 120px;
    margin-top: 75px;
    margin-bottom: 10px;
    font-family: Ozxgen, sans-serif;
    font-size: 22px;
    border-bottom: 2px solid blue_theme;
}

.loginbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    border-radius: 10%;
    margin-top: 5%;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 3%;
}

.login-input {
    height: 2em;
    border-radius: 50px;
    padding: 1% 0 1% 0;
    margin-top: 2%;
    margin-bottom: 2%;
}

.login-btn {
    width: 17.5%;
    padding: 1.5% 2% 1.5% 2%;
    border-radius: 3px;
    font-family: Oxygen, sans-serif;
    background-color: gray;
    margin-top: 5%;
    cursor: pointer;
}

.login-btn:hover, .login-btn:focus {
    background-color: #030303;
    color: white;
}

.LoginCatch{
    padding-top:5%;
    padding-bottom: 5%;
    padding-left: 5%;
    background-color: #F7EECD;
    display:flex; 
    flex-direction:row;
    position:flex;
    width: auto;
    height: auto;
}

.LoginRightSection{
	padding-left: 12%;
    position: flex;
    min-width: 40%;
}

.button-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.LeftSection4{
    width:50%;
    height:100%;
    position: flex;
}

.loginimg {
    max-width: 100%;
    max-height: 70vh;
    margin: auto;
}

.logintitle {
    color:#2A2829;
    font-size: 2vw;
    font-weight: 350;
    margin-bottom: 5%;
}

.usernametitle {
    color:#2A2829;
    font-size: 1.4vw;
    font-weight: 330;
}

.forgotpassword-btn {
	height: 5%;
    width: 25%;
    float: right;
    font-size: 13.5px;
    border-radius: 3px;
    font-family: Oxygen, sans-serif;
    background-color: gray;
    cursor: pointer;
}

.forgotpassword-btn:hover, .forgotpassword-btn:focus {
    background-color: #030303;
    color: white;
}

.LoginSlogan{
    border-bottom: solid 3px gray;
    display: inline;
    padding-bottom: 2%;
}

.login-social-buttons{
	margin-top: 7%;
	flex-direction: row;
}

.social-buttons{
	margin-top: 3.5%;
	float: right;
}

.center1 {
	object-fit: fill;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.facebook-btn {
	background-color: #6081c4;
    width: 2.75vw;
    height: 2.75vw;
    border-radius: 50%;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.google-btn {
	background-color: #ffffff;
    width: 2.75vw;
    height: 2.75vw;
    border-radius: 50%;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}


.facebook-btn:hover, .facebook-btn:focus {
    background-color: #030303;
    color: white;
}

.google-btn:hover, .google-btn:focus {
    background-color: #030303;
    color: white;
}

.social-btns{
	border: none;
	background: none;
}

.account-btn {
    width: 60%;
    padding: 1.5% 2% 1.5% 2%;
    border-radius: 3px;
    font-family: Oxygen, sans-serif;
    background-color: gray;
    margin-top: 5%;
    cursor: pointer;
}

.account-btn:hover, .account-btn:focus {
    background-color: #030303;
    color: white;
}

.AccountSection{
    margin: auto;
    padding-top: 2%;
    min-width: 35%;
}

.calenderimg {
    max-width: 100%;
    max-height: 60vh;
    margin: auto;
}
.accountpage {
    max-height: 200%;
    min-height: 70vh;
    max-width: 500vh;
    margin: auto;
}
.AccountRightSection{
    padding-left: 10%;
    padding-bottom: 11%;
    position: flex;
    min-width: 30%;
}

.account-input-group {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    margin-bottom: 1%;
}
.account-input {
    height: 1.5em;
    border-radius: 50px;
    padding: 1% 0 1% 0;
    margin-top: 2%;
    margin-bottom: 2%;
}

.AccountCatch{
    padding: 7.5% 0 1.1% 7.5%;
    background-color: #F7EECD;
    display:flex; 
    flex-direction:row;
    position:flex;
    width: auto;
    height: auto;
}