.Desc{
    padding-top:4%;
}

.Catch{
    display:flex; 
    flex-direction:row;
    position:flex;
    width:100%;
}
.leftSection{
    padding-top: 8%;
    padding-left: 10%;
    width: 50vw;
}

.Title1 {
    font-size: 4vw;
    font-weight: 700;
}

.Title2{
    font-size: 4vw;
    font-weight: 700;
}

.SportsWord{
    border-bottom: solid 5px gray;
    display: inline;
    padding-bottom: 5%;
}

.Description{
    font-size: 2.5vw;
    font-weight: 300;
    padding-top: 5%;
}

.ballerimage{
    position: center;
    width:35vw;
    flex:1;
}

.Description2 {
    display:flex; 
    flex-direction:row;
    position:flex;
    width:100%;
    background-color: #D6D8D9;
    
}

.Artificial_Intelligence_in_Sports{
    text-align: center;
    width: 100%;
    padding-top: 5%;
    font-size: 4vw;
    font-weight: 700;
}

.ellige{
    border-bottom: solid 5px gray;
    display: inline;
    padding-bottom: 3%;
}

.The_world_of{
    padding-top: 5%;
    font-size: 2vw;
    font-weight: 300;
    width:55%;
    padding-left:22.5%;
}

.CircleImages{
    padding-top:2%;
}

.CircleImages img{
    width:15vw;
    height:15vw;
    border-radius: 50%;
}

.spacer2{
    display: inline;
    padding-left:10%;
}

.EndSection{
    display:flex; 
    flex-direction:row;
    position:flex;
    width:100%;
    background: white;
}

.See_it_in_action{
    font-size: 3vw;
    font-weight: 300;
    padding-top: 5%;
}

.How_it_Works{
    font-size: 4vw;
    font-weight: 700;
}

.How_it{
    border-bottom: solid 5px gray;
    display: inline;
    padding-bottom: 5%;

}

.Description3{
    padding-top: 10%;
    font-size: 2vw;
    font-weight: 300;
}

.AI-Photo{
    padding-top: 10%;
    position: center;
    width:35vw;
    flex:1;
}

.root-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-controller {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 24em;
    min-width: 21em;
    height: 35px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
	margin-bottom: 30px;
	align-items: center;
	transition: visibility 0.5s ease-out;
}

 .controller {
	 flex: 1;
	 text-align: center;
	 height: 100%;
	 line-height: 2;
	 cursor: pointer;
}

.selected-controller {
    transition: border 0.5s ease-out;
    border-bottom:  2px solid $blue_theme;
}

.box-container {
    display: flex;
    flex-direction: column;
    max-width: 24em;
    min-width: 21em;
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    border-radius: 6px;
    padding: 24px;
}

.inner-container {
    transition: visibility 0.2s ease-out;
    background-color: rgba(192, 38, 38, 0);
}

.inner-container.show {
    visibility: visible;
}

.header {
    text-align: center;
    padding-left: 120px;
    padding-right: 120px;
    margin-top: 75px;
    margin-bottom: 10px;
    font-family: Ozxgen, sans-serif;
    font-size: 22px;
    border-bottom: 2ox solid $blue_theme;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(15, 15, 0, 0.03);
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 25px;
}

.login-label {
    font-family: Oxygen, sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-left: 5px;
}

.login-input {
    height: 2em;
    border-radius: 5px;
    margin-top: 10px;
}

.login-btn {
    padding: 2px 30px;
    /* background-color: #417cef;
    */
    border: 0;
    font-size: 18px;
    border-radius: 3px;
    font-family: Oxygen, sans-serif;
    background-color: rgba(0, 0, 0, 0.03);
    margin-top: 20px;
    border: 2px solid #417cef;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
}


.facebook-google-btn {
    padding: 2px 2px;
    /* background-color: #417cef;
    */
    font-size: 15px;
    font-family: Oxygen, sans-serif;
    width:2vw;
    height:2vw;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.03);
    margin-top: 20px;
    border: 2px solid #417cef;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
}

.facebook-google-btn:hover, .facebook-google-btn:focus {
    background-color: #030303;
    color: white;
}

.login-btn:hover, .login-btn:focus {
    background-color: #030303;
    color: white;
}

/* .login-background-image {
    background-image: url("./components/images/Ferb.png");
    background-repeat: no-repeat;
    background-position: left top;
} */